<div class="menu">
  <a routerLink="/signin">Accedi</a>
  <a routerLink="/signup">Registrati</a>
</div>
<h1>Registrazione</h1>

<form #homeForm="ngForm" (ngSubmit)="onSubmit(homeForm)">
  
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" ngModel required/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" ngModel required/>
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="!homeForm.valid"
  >
    Registrati
  </button>

  <p class="check">Se hai un account, <a routerLink="/signin">Accedi</a></p>
</form>
